---
import { getCollection } from "astro:content";
import { compareDesc, isAfter, parse } from "date-fns";
import Base from "../../layouts/base.astro";
import Time from "../../components/time.astro";
import { UTCDate } from "@date-fns/utc";

const collection = await getCollection(
	"poems",
	(poem) =>
		import.meta.env.DEV ||
		(!poem.data.draft && isAfter(new UTCDate(), poem.data.date))
);

const poems = collection.toSorted((a, b) =>
	compareDesc(a.data.date, b.data.date)
);
---

<Base title="poems" section="poetry" class="col container margin-gap grow">
	<ol class="toc">
		{
			poems.map((poem) => (
				<li class="col">
					<span>
						<a href={`/poetry/poems/${poem.id}`}>{poem.data.title}</a>
					</span>
					<Time date={poem.data.date} />
					{poem.data.draft ? <i>(draft)</i> : null}
				</li>
			))
		}
	</ol>
</Base>
