<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>chance dickson.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="personal site for a really cool frontend developer named chance dickson">

	<link href="https://fonts.googleapis.com/css2?family=Fira+Mono" rel="stylesheet">
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	<main>
		<h1 class="align-2">chance dickson</h1>

		{{{render description}}}

		<footer class="align-1">
			{{#each contactLinks}}
			<a href="{{url}}" aria-label="{{label}}" {{#if newTab}} target="_blank" rel="noopener" {{/if}}>
				{{{feather icon}}}
			</a>
			{{/each}}
		</footer>
	</main>

</body>

</html>
