@import "normalize.css";

:root {
	--white: #ffffff;
	--black: #231f20;
	--container-width: 900px;
	--left-width: calc(var(--container-width) / 4);
	--right-width: calc(100% - var(--left-width));
}

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	line-height: 1.15;
	letter-spacing: 0.7px;
}

a {
	color: var(--black);
	font-weight: 600;
}

header {
	/* + 2px to account for background in logo-left... TODO remove background */
	--threshold: calc(
		(100% - var(--container-width)) / 2 + var(--left-width) + 2px
	);
	background: linear-gradient(
		90deg,
		var(--black) var(--threshold),
		var(--white) var(--threshold)
	);
}

header .left,
header .right {
	justify-content: center;
}

header .left {
	padding-right: 0;
}

header .right {
	padding-left: 0.346in;
}

header nav {
	padding-top: 2rem;
	padding-left: 0.25rem;
}

header nav a {
	color: var(--black);
	font-size: 1.25rem;
	text-decoration: none;
	padding-right: 1rem;
	font-weight: 400;
}

footer .left {
	justify-content: center;
	flex-basis: 50%;
	padding-right: 1rem;
}

footer .right {
	justify-content: center;
	flex-basis: 50%;
	padding-left: 1rem;
}

footer article a,
footer article span.a-replacement {
	text-decoration: none;
	font-weight: 400;
	padding: 8px;
	display: inline-flex;
	align-items: center;
}

footer article a span,
footer article span.a-replacement span {
	padding-left: 0.5rem;
}

main p {
	line-height: 1.5;
}

main .container {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

main article {
	padding-bottom: 2rem;
}

main article h3 {
	padding-bottom: 0.25rem;
}

main article p.date-location {
	padding-bottom: 0.5rem;
}

main article p:not(.date-location) {
	padding-top: 0.5rem;
}

main article img {
	max-width: 100%;
	padding-top: 1rem;
}

main article nav {
	display: flex;
	flex-wrap: wrap;
	align-items: normal;
	justify-content: normal;
	margin-left: -8px;
	padding-top: 0.5rem;
}

main article nav a {
	display: inline-flex;
	align-items: center;
	border-radius: 50%;
	padding: 8px;
	background-color: transparent;
	color: var(--black);
	text-decoration: none;
}

main article nav a:hover {
	background-color: var(--black);
	color: var(--white);
}

.container {
	display: flex;
	flex-direction: row;
	flex: 1;
	min-height: 100vh;
	width: 900px;
	margin: auto;
	display: flex;
	flex: 1;
	min-height: 100vh;
	flex-wrap: nowrap;
}

.left {
	display: flex;
	flex-direction: column;
	flex-basis: 25%;
	align-items: flex-end;
	overflow: hidden;
	padding-right: 0.296in;
}

.right {
	display: flex;
	flex-direction: column;
	flex-basis: 75%;
	padding-left: 0.346in;
}

.logo-left {
	width: 1.76in;
}

.logo-right {
	width: 2.89in;
}

.invisible {
	visibility: hidden;
}

.feather {
	width: 24px;
	height: 24px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

.feather-small {
	width: 20px;
	height: 20px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}
