@import "normalize.css";

:root {
	/* colors */
	--black: #231f20;
	--white: #ffffff;

	/* sizes */
	--container-width: 600px;
}

* {
	color: var(--black);
}

html {
	font-family: "Fira Mono", monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.4px;
	line-height: 1.5;
}

body {
	height: 100vh;
	width: var(--container-width);
	max-width: 100%;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main {
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

main h1 {
	margin: 0;
	margin-left: -2px;
	line-height: 1;
}

footer {
	display: flex;
}

footer a {
	display: block;
	color: var(--black);
	line-height: 0;
	text-decoration: none;
}

footer a + a {
	margin-left: 1rem;
}

footer svg {
	height: 20px;
	width: 20px;
}

@media (max-width: 450px) {
	footer a + a {
		margin-left: 1.5rem;
	}

	footer svg {
		height: 26px;
		width: 26px;
	}
}
