@font-face {
	font-family: "Fira Mono";
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url(/font.ttf) format("truetype");
}

:root {
	/* colors */
	--black: #231f20;
	--white: #ffffff;

	/* sizes */
	--container-width: 600px;
}

* {
	color: var(--black);
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: "Fira Mono", monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.4px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

main {
	padding: 4rem 2rem;
	width: var(--container-width);
	display: flex;
	flex-direction: column;
}

main h1 {
	margin-bottom: 1rem;
	margin-left: -2px;
}

main p {
	margin-bottom: 1rem;
	line-height: 1.5;
}

footer {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

footer a {
	display: block;
	color: var(--white);
	text-decoration: none;
	padding: 1rem;
	background: var(--black);
}

footer a + a {
	margin-top: 1rem;
}
