---
import { getCollection } from "astro:content";
import { compareDesc, isAfter } from "date-fns";
import Base from "../../layouts/base.astro";
import Time from "../../components/time.astro";
import { UTCDate } from "@date-fns/utc";

const collection = await getCollection(
	"blog",
	(post) =>
		import.meta.env.DEV ||
		(!post.data.draft && isAfter(new UTCDate(), post.data.date))
);

const posts = collection.toSorted((a, b) =>
	compareDesc(a.data.date, b.data.date)
);
---

<Base title="blog" section="blog" class="col container margin-gap grow">
	<header class="row space-gap">
		<h2>feed:</h2>

		<a href="/feed.rss">rss</a>
	</header>

	<ol class="toc">
		{
			posts.map((post) => (
				<li class="col">
					<span>
						<a href={`/blog/posts/${post.id}`}>{post.data.title}</a>
					</span>
					<Time date={post.data.date} />
					{post.data.draft ? <i>(draft)</i> : null}
				</li>
			))
		}
	</ol>
</Base>
