<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="personal site for phoebe">
	<link rel="preload" href="/font.ttf" as="font" type="font/ttf">

	<style>
		{{{stylesheet}}}
	</style>
</head>

<body>
	{{#block "body"}}{{/block}}
</body>

</html>
