---
import { getCollection, render } from "astro:content";
import { parse } from "date-fns";
import Time from "../../../components/time.astro";
import Base from "../../../layouts/base.astro";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { slug: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content } = await render(post);

const dateFmt = "yyyy-MM-dd";
const date = parse(post.id.slice(0, dateFmt.length), dateFmt, new Date());
---

<Base
	title={post.data.title}
	section="blog"
	class="blog-post col container margin-gap grow"
>
	<header class="column">
		<h1>{post.data.title}</h1>
		<Time date={date} />
	</header>
	<section class="col margin-gap markdown">
		<Content />
	</section>
</Base>
