---
import DividedContainer from "./divided-container.astro";
---

<DividedContainer element="header" divider="double">
	<h1 class="no-shrink">phoebe</h1>
	<DividedContainer class="wrap">
		<slot />
	</DividedContainer>
</DividedContainer>
