@import "modern-normalize";

@font-face {
	font-family: "Berkeley Mono";
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url(/media/fonts/BerkeleyMono-Regular.woff2) format("woff2"),
		url(/media/fonts/BerkeleyMono-Regular.woff) format("woff");
}

@font-face {
	font-family: "Berkeley Mono";
	font-style: italic;
	font-weight: 400;
	font-display: block;
	src: url(/media/fonts/BerkeleyMono-Italic.woff2) format("woff2"),
		url(/media/fonts/BerkeleyMono-Italic.woff) format("woff");
}

@font-face {
	font-family: "Berkeley Mono";
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: url(/media/fonts/BerkeleyMono-Bold.woff2) format("woff2"),
		url(/media/fonts/BerkeleyMono-Bold.woff) format("woff");
}

@font-face {
	font-family: "Berkeley Mono";
	font-style: italic;
	font-weight: 700;
	font-display: block;
	src: url(/media/fonts/BerkeleyMono-BoldItalic.woff2) format("woff2"),
		url(/media/fonts/BerkeleyMono-BoldItalic.woff) format("woff");
}

:root {
	/* colors */
	--base00: #ffffff;
	--base01: #e1e1e2;
	--base02: #c4c3c5;
	--base03: #a7a5a8;
	--base04: #89878b;
	--base05: #6c696e;
	--base06: #4f4b51;
	--base07: #322d34;
	--base08: #d8137f;
	--base09: #d65407;
	--base0A: #dc8a0e;
	--base0B: #17ad98;
	--base0C: #149bda;
	--base0D: #775dff;
	--base0E: #aa17e6;
	--base0F: #e013d0;

	/* sizes */
	--container-width: 900px;
	--space-width: 1ch;

	/* text color */
	--color-body: var(--base05);
	--color-link: var(--base0C);
}

@media (prefers-color-scheme: dark) {
	:root {
		--base00: #2e2a31;
		--base01: #4a464d;
		--base02: #666369;
		--base03: #838085;
		--base04: #9f9da2;
		--base05: #bcbabe;
		--base06: #d8d7da;
		--base07: #f5f4f7;
		--base08: #d8137f;
		--base09: #d65407;
		--base0A: #dc8a0e;
		--base0B: #17ad98;
		--base0C: #149bda;
		--base0D: #796af5;
		--base0E: #bb60ea;
		--base0F: #c720ca;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: 400;
	color: var(--color-body);
	text-transform: lowercase;
}

b,
strong {
	font-weight: 700;
}

pre.astro-code {
	margin: -1rem 0;
	padding: 1rem 2rem;
	overflow-x: auto;
}

pre code {
	display: inherit;
}

code,
code * {
	text-transform: none;
	font-family: "Berkeley Mono", monospace;
}

:not(pre) > code {
	color: var(--base0D);
}

body {
	font-family: "Berkeley Mono", monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.3px;
	line-height: 1.6;
	min-height: 100vh;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	padding: 3rem;
	gap: 4rem;
	background-color: var(--base00);

	width: var(--container-width);
	max-width: 100%;
	margin: 0 auto;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

ol {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

a {
	text-decoration: none;
	color: var(--color-link);
	text-decoration-thickness: 1.5px;
}

a:hover,
a:focus {
	text-decoration: underline;
	outline: none;
}

span.no-link {
	text-decoration: line-through;
	color: var(--color-link);
}

.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
}

.space-gap {
	gap: var(--space-width);
}

.margin-gap {
	gap: 2rem;
}

.grow {
	flex-grow: 1;
}

.no-shrink {
	flex-shrink: 0;
}

.container {
	width: var(--container-width);
	max-width: 100%;
}

.wrap {
	flex-wrap: wrap;
}

.justify-center {
	justify-content: center;
}

.divide > *:not(:last-child)::after {
	color: var(--color-body);
	content: "/";
	margin-left: var(--space-width);
	margin-right: var(--space-width);
	display: inline-block;
}

.double-divide > *:not(:last-child)::after {
	color: var(--color-body);
	content: "//";
	margin-left: var(--space-width);
	margin-right: var(--space-width);
	display: inline-block;
}

nav .current {
	font-weight: 700;
}

nav:hover .current:not(:hover) {
	text-decoration: none;
}

blockquote {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	padding: 1rem;
	background-color: var(--base01);
}

/**
 * Code block highlighting
 */

.hljs-comment {
	color: var(--base03);
}

.hljs-tag {
	color: var(--base04);
}

.hljs-subst,
.hljs-punctuation,
.hljs-operator {
	color: var(--base05);
}

.hljs-bullet,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-tag,
.hljs-name,
.hljs-deletion {
	color: var(--base08);
}

.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
	color: var(--base09);
}

.hljs-title,
.hljs-class .hljs-title,
.hljs-title.class_,
.hljs-strong {
	color: var(--base0A);
}

.hljs-strong {
	font-weight: bold;
}

.hljs-code,
.hljs-addition,
.hljs-title.class_.inherited__,
.hljs-string {
	color: var(--base0B);
}

.hljs-built_in,
.hljs-doctag,
.hljs-quote,
.hljs-keyword.hljs-atrule,
.hljs-regexp {
	color: var(--base0C);
}

.hljs-function .hljs-title,
.hljs-attribute,
.ruby .hljs-property,
.hljs-title.function_,
.hljs-section {
	color: var(--base0D);
}

.hljs-type,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.diff .hljs-meta,
.hljs-keyword,
.hljs-emphasis {
	color: var(--base0E);
}
.hljs-emphasis {
	font-style: italic;
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
	color: var(--base0F);
}

.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
	font-weight: bold;
}

@media (prefers-contrast: more) {
	:root {
		--color-body: var(--base07);
		--color-link: var(--base0D);
	}

	.hljs-comment {
		color: var(--base05);
	}

	.hljs-tag {
		color: var(--base06);
	}

	.hljs-subst,
	.hljs-punctuation,
	.hljs-operator {
		color: var(--base07);
	}
}

@media (prefers-contrast: more) and (prefers-color-scheme: dark) {
	:root {
		--color-link: var(--base0C);
	}
}
