---
interface Props {
	frontmatter: {
		title: string;
		date: Date;
	};
}

import Time from "../components/time.astro";
import Base from "./base.astro";

const { frontmatter } = Astro.props;
---

<Base
	title={frontmatter.title}
	section="blog"
	class="blog-post col container margin-gap grow"
>
	<header class="column">
		<h1>{frontmatter.title}</h1>
		<Time date={frontmatter.date} />
	</header>
	<section class="col margin-gap markdown">
		<slot />
	</section>
</Base>
