---
import type { UTCDate } from "@date-fns/utc";
import Post from "./post.astro";

interface Props {
	title: string;
	date: UTCDate;
	draft?: boolean;
}

const { title, date, draft } = Astro.props;
---

<Post title={title} date={date} draft={draft} section="poetry">
	<blockquote class:list={["mobile-warning"]}>
		my poems might not be mobile/tablet friendly, you might have to scroll
		right.
	</blockquote>

	<section class="col margin-gap poem">
		<slot />
	</section>
</Post>

<style>
	blockquote.mobile-warning {
		display: none;
	}

	section.poem {
		overflow-x: auto;
	}

	@media only screen and (max-width: 768px) {
		blockquote.mobile-warning {
			display: block;
		}
	}
</style>
